@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Oswald, serif;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  pointer-events: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* border: 2px solid white; */
}

.logo{
  font-size: 3rem;
  color: rgb(40, 65, 140);
  font-weight: 1000;
  cursor: pointer;
  transition: 0.5s ease;
  /* border: 2px solid white; */
}

.logo:hover{
  transform: scale(1.1);
}

nav{
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  /* border: 2px solid white; */
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  margin-right: 1rem;
  /* border: 2px solid white; */
}

nav a:last-child {
  margin-right: 0;
}

nav a.active {
  color: rgb(40, 65, 140);
  border-bottom: 3px solid rgb(40, 65, 140);
  transition: border-bottom 0.3s ease-in-out;
}

nav a:hover {
  color: rgb(40, 65, 140);
}

.experience {
  position: relative;
  height: 150vh; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.experience-img {
  position: fixed;
  top: 0;
  left: 0.5vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

#earthImg {
  max-width: 50vw;
  transition: transform 0.2s ease-out;
}

.experience-content {
  position: relative;
  margin-top: 60vh; 
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#experienceHeading1 {
  position: relative; 
  top: 13vw;
  left: 65vw;
  font-size: 10rem;
  font-weight: 500;
  /* border: 2px white; */
}

#experienceHeading2 {
  position: relative;
  top: 12vw;
  left: 5vw;
  font-size: 4rem;
  font-weight: 400;
}

#experienceHeading3 {
  position: relative;
  top: 12vw;
  left: 5vw;
  font-size: 3rem;
  font-weight: 350;
}

.experience-list {
  position: relative;
  top: 12vw;
  left: 5vw;
  font-size: 2.5rem;
  font-weight: 275;
  max-width: 70vw;
}

#experienceHeading1 .highlight {
  color: rgb(40, 65, 140);
}

#experienceHeading2 .highlight {
  color: rgb(30, 55, 115);
}

#experienceHeading3 .highlight {
  color: rgb(30, 55, 115);
}