@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Oswald, serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  pointer-events: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* border: 2px solid white; */
}

.logo {
  font-size: 3rem;
  color: rgb(40, 65, 140);
  font-weight: 1000;
  cursor: pointer;
  transition: 0.5s ease;
  /* border: 2px solid white; */
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  /* border: 2px solid white; */
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  margin-right: 1rem;
  /* border: 2px solid white; */
}

nav a:last-child {
  margin-right: 0;
}

nav a.active {
  color: rgb(40, 65, 140);
  border-bottom: 3px solid rgb(40, 65, 140);
  transition: border-bottom 0.3s ease-in-out;
}

nav a:hover {
  color: rgb(40, 65, 140);
}

.home {
  position: relative;
  height: 150vh; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

#earthImg {
  max-width: 50vw;
  transition: transform 0.2s ease-out;
}

.home-content {
  position: relative;
  margin-top: 60vh; 
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#homeContentHeading1 {
  position: relative; 
  top: 0;
  left: 17vw;
  font-size: 5rem;
}

#homeContentHeading2 {
  position: relative; 
  top: -2.5rem;
  left: 15vw;
  font-size: 7rem;
}

#homeContentHeading3 {
  position: relative;
  top: -3.75rem;
  left: 5vw;
  font-size: 4rem;
  font-weight: 400;
}

#homeContentParagraph1 {
  position: relative;
  top: -4.5rem;
  left: 4.25vw;
  width: 45vw;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem;
}

.home-content .highlight {
  color: rgb(40, 65, 140);
}

.social-icons {
  position: relative;
  top: -4rem;
  left: 5vw;
  width: 45vw;
  font-size: 5rem;
  padding: 1rem;
}

.social-icons a {
  text-decoration: none;
  color: white;
  margin-right: 3rem;
}

.social-icons a:hover {
  color: rgb(40, 65, 140);
}

.social-icons a:active {
  color: rgb(30, 55, 115);
}

@media screen and (max-width: 768px) {
  #earthImg {
    max-width: 100vw;
  }
  .home-content {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  #homeContentHeading1 {
    position: relative; 
    top: 2rem;
    left: 17vw;
    font-size: 5rem;
  }
  
  #homeContentHeading2 {
    position: relative; 
    top: 0rem;
    left: 15vw;
    font-size: 6rem;
  }
  
  #homeContentHeading3 {
    position: relative;
    top: 0rem;
    left: 3vw;
    width: 70vw;
    font-size: 3rem;
  }
  
  #homeContentParagraph1 {
    position: relative;
    top: 0rem;
    left: 1.5vw;
    width: 65vw;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .home-content .highlight {
    color: rgb(40, 65, 140);
  }
  
  .social-icons {
    position: relative;
    top: 0rem;
    left: 5vw;
    width: 65vw;
    font-size: 3rem;
    padding: 1rem;
  }

  .social-icons a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
  }
}