@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Oswald, serif;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  pointer-events: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* border: 2px solid white; */
}

.logo{
  font-size: 3rem;
  color: royalblue;
  font-weight: 1000;
  cursor: pointer;
  transition: 0.5s ease;
  /* border: 2px solid white; */
}

.logo:hover{
  transform: scale(1.1);
}

nav{
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  /* border: 2px solid white; */
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  margin-right: 1rem;
  /* border: 2px solid white; */
}

nav a:last-child {
  margin-right: 0;
}

nav a.active {
  color: rgb(39, 64, 137);
  border-bottom: 3px solid rgb(39, 64, 137);
  transition: border-bottom 0.3s ease-in-out;
}

nav a:hover {
  color: rgb(39, 64, 137);
}

.home {
  position: relative;
  height: 150vh; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh; /* 占满可视高度 */
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

#earthImg {
  max-width: 50vw;   /* 初始大小，可按需调整 */
  transition: transform 0.2s ease-out; /* 给transform一个过渡，让移动和缩放更平滑 */
}

.home-content {
  position: relative;
  margin-top: 60vh; /* 让文字从第二屏开始或你想要的位置开始出现 */
  padding: 2rem;
  opacity: 0;        /* 初始设为透明，滚动后再让它变为1 */
  transition: opacity 0.5s ease-out;
}

#homeContentHeading1 {
  position: absolute; 
  top: 0;
  left: 17vw;
  font-size: 5rem;
}

#homeContentHeading2 {
  position: absolute; 
  top: 5rem;
  left: 15vw;
  font-size: 7rem;
}

#homeContentHeading3 {
  position: absolute;
  top: 15rem;
  left: 5vw;
  font-size: 4rem;
}

#homeContentParagraph1 {
  position: absolute;
  top: 21rem;
  left: 5vw;
  width: 45vw;
  font-size: 3rem;
  padding: 1rem;
}

.home-content .highlight {
  color: rgb(39, 64, 137);
}

.social-icons {
  position: absolute;
  top: 50rem;
  left: 5vw;
  width: 45vw;
  font-size: 5rem;
  padding: 1rem;
}

.social-icons a {
  text-decoration: none;
  color: white;
  margin-right: 3rem;
}

.social-icons a:hover {
  color: rgb(39, 64, 137);
}

.social-icons a:active {
  color: royalblue
}